body {
	margin: 50px auto 50px auto; 
	width: 80%; 
	font-family: sans-serif;
}

fieldset {
	background-color: #EEEEEE;
	border: 1px dashed grey;
	display: block;
	height: 100%;
}

legend {
	background-color: #FFFFFF;
}

.container {
	width: 100%;
	border: 1px solid black;
  padding: 10px;
	overflow: auto;
}

.httpBinResponseView {
	border: 1px solid grey;	
	width: 32%;
	height: 100%;	
	margin: 0 auto;	
	overflow: auto;
}

form#weatherForm {
	float: left; 
	width: 50%;
  height: 100%;
}

div#weatherResponseView {
  border: 1px solid black;
  padding: 10px; 
  float: right;
  margin: 10px auto 0 0;
  width: 48%;
  height: 100%;
}

div#weatherResponseView p {
	width: 100%;
	float: left;
}

form#httpBinForm {
	width: 33%;	
	display: block;
	float: left;
	margin: 10px;
}

div#httpBinApiResponseJson {
	float:left;
	font-size: 10pt;
	font-family: monospace;
}  

div#httpBinApiResponseText {
	font-size: 10pt;
}  
 
#userText {
	width: 100%;
	height: 33em;
	float: left;
}

#callHttpBinApiSubmit {
	float: left;
	margin: 5px 40% auto 40%;
} 
