@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'), url(../font/Alice.woff2), url(https://fonts.gstatic.com/s/alice/v9/OpNCnoEEmtHa6GcOrg7-hCJ1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  text-align: center;
  font-family: 'Alice', 'serif';
}

#main-container {
  margin: 100px auto 100px auto;
  width: 60%;
}

#logo-container {
  margin: 50px auto 20px auto;
  /*margin: 0 auto;*/
  width: 50%;
  clear: both;
}

#carousel-container {
  height: 525px;
  margin: 20px auto 50px auto;
}

.carousel-slide {
  width: 50%;
}

.carousel-slide.undisplayed {
  display: none;
}


.fading {
  animation-name: fadeOut;
  animation-duration: 3000ms;
}

.resolving {
  animation-name: fadeIn;
  animation-duration: 3000ms;
}

#subtitle-container {
  margin: 0 auto 50px auto;
  width: 100%;
}

#subtitle {
  font-size: 18pt;
  text-align: center;
  display: block;
  color: rgb(9, 88, 105);
}

/* book.html */
#book-description-container {
  border: 1px rgb(230, 230, 230) solid; 
}

#excerpt-download-container {
  border: 1px rgb(230, 230, 230) solid; 
}

#excerpt-one-img-container {
  border: 1px rgb(230, 230, 230) solid; 
  height: 602px;
  width: 452px;
  margin: 0 auto 50px auto;
}
