<div id="auth-main-container">
  <div id="auth-row" class="border-box-grid">
    <div id="auth-photo">
      <img src="/img/lesley_375w.jpg">
    </div>
    <div id="auth-description-container">
      <p>Growing up in Whitestone, Virginia, Lesley Newman was introduced to birding at an early age. Never far from the outdoors,
        she's an Arizona Master Naturalist and has taught environmental education in Tucson, Arizona.
      <p>Lesley has a bachelor's degree from James Madison University and a master's
      degree in English, Language, and Literature from the University of Arizona. 
      <p>An inveterate traveler, she's lived in the Dominican Republic as Peace Corps Volunteer, 
      taught and studied in Oaxaca, Mexico as a Fulbright scholar,
      and served as an English Language Fellow with the State Department in Da Nang, Vietnam</p> 
      <p>When she's not enjoying Nature, she likes to watch good movies (always with popcorn), finish crossword puzzles, and win at Scrabble.
    </div>
  </div>
  <div id="illus-row" class="border-box-grid">
    <div id="illus-description-container">
        <p>Mary Lloyd is a twelth grader at St. Margaret’s School, where she works in  her free
      time on personal projects and commissioned paintings. She enjoys working in many different modes and
      media:  animation, interior design, fashion design, painting, and drawing. </p>
        <p>Contemplating her muse, she says that, "Time stops whenever I am creating and I couldn’t live my life without it."</p>
        <p>She intends to double major in studio art and interior design after graduating high-school, and hopes to
      pursuing her artistic passion. </p>
    </div>
    <div id="illus-photo">
      <img src="/img/mary_375w.jpg">
    </div>
  </div>
</div>
