<div class="border-box-grid" id="bsphere-main-container">
  <div class="border-box-grid" id="bsphere-list">
    <div>
      <h3>Birds Play an Important Role in the Biosphere</h3>
      <p>
        Birds account for some percentage of the total biomass. They are an integral part of ecosystems everywhere, serving to propagate species, polinate
        flowering plants and control insect populations.
      </p>
    </div>
    <div>
      <ul>
        <li>Bird fact 1</li>
        <li>Bird fact 2</li>
        <li>Bird fact 3</li>
        <li>Bird fact 4</li>
        <li>Bird fact 5</li>
        <li>Bird fact 6</li>
        <li>Bird fact 7</li>
      </ul>
    </div>
  </div>
  <div class="dbg-top-box" id="bsphere-reference-container">
    <div id="bsphere-reference-header">
      <h2>Resources for Learning More About Birds</h2>
    </div> 
    <div><!--quadrant 0,1--></div>
    <div class="border-box-grid" id="bsphere-birders-handbook">
      <span class="book-title">The Birder's Handbook</span>
      <a href="https://www.bookfinder.com/book/9780671659899/" target="_blank" rel="noreferrer"><img id="bsphere-book-img" src="img/birders_hbk.jpg"></a>
        is a great resource and compliment to your identification guide. It's full of essays regarding the behavior and habits of North American birds. 
    </div>
    <!-- div class="dbg-nested-box" id="bsphere-scrollbox"><p>This is where the scrollbar goes.</p></div -->
    <div class="border-box-grid" id="bsphere-popchart">
      <p><a href="https://popchart.co" target="_blank" rel="noreferrer">Pop Chart</a> makes a nearly comprehensive poster of the birds of North America.</p>
        <div id="bsphere-popchart-scroll">
          <img id="img-popchart" src="/img/pop_chart_birds_4000w.jpg">
        </div>
    </div>
  </div>
</div>  