<div class="border-box-grid" id="book-main-container">
  <div id="book-left">
    <div id="book-description-container">
      <div id="book-description">
        <h3>In a future world, protagonist Mai Nguyen stumbles upon a wanted poster requesting the following:</h3>
        <span style="font-style: italic">Adventurous and philanthropic-types needed for documentation project. Attention to detail and accuracy a must. 
            Time travel ability not required, but experience with said is a bonus. </span> <br>
            <span>~ from the book <span style="font-style: italic">Charming Plumage</span> ~</span>
      </div>
      <form action="/pdf/excerpt_the_bird_book.pdf" method="GET"> 
          <input type="submit" value="Download an Excerpt!">
      </form>
    </div> 
    <div id="book-appeal">
        <p> 
          The Feather Collective seeks same in prospective early readers! What you need to do: 
        Support a debut novel by reading it, reviewing it online, and promoting it on social media. Time commitment is 100 pages
        </p>
      <div id="email-form">
      <!-- form action="POST" method="/earlyreaders.html" -->
        <form action="/subscribe" method="POST">
          <div class="form-group">
            <label for="subscriberName">Name:</label>
            <input id="subscriberName" type="text" name="name">
          </div>
          <div class="form-group">
            <label for="subscriberEmail">Email address:</label>
            <input type="email" id="subscriberEmail" name="email" class="form-control" placeholder="your@email.com">
          </div>
          <input type="submit" value="Send">
        </form>
      </div> <!-- end of #email-form -->
    </div> 
  </div><!-- container book-left-->

  <div id="book-img-container">
      <img src="/img/wanted_450w.jpg">
  </div>
</div><!-- end main div -->
