  <script src="/script/fadeCarousel.js" defer></script>
  
  <div id="main-container">
    <div id="logo-container">
      <img src="/img/logo.svg">
    </div>
    <div id="carousel-container">
      <img class="carousel-slide" src="/img/hummingbird_main_760w.jpg"> 
      <img class="carousel-slide undisplayed" src="/img/edna_760w.jpg">
      <img class="carousel-slide undisplayed" src="/img/sidewalk_flowers_650w.jpg">
      <img class="carousel-slide undisplayed" src="/img/family_750w.jpg">
    </div> 
    <div id="subtitle-container">
      <span id="subtitle">A Book About Bird Revolution</span>
    </div>
    <p>Want to be notified when <i>Charming Plumage</i> goes to press?</p> 
    <form action="mailto:">
        method="POST">
      <div class="form-group">
        <label class="sr-only" for="readerName">Name:</label>
        <input id="readerName" type="text" name="name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="readerEmail">Email address:</label>
        <input type="email" id="readerEmail" name="_replyto" class="form-control" placeholder="your@email.com">
      </div>
      <input type="submit" value="Send">
    </form>
  </div>

