  <script src="/script/fadeCarousel.js" defer></script>
  
  <div id="main-container">
    <div id="logo-container">
      <img src="/img/logo.svg">
    </div>
    <div id="carousel-container">
      <img class="carousel-slide" src="/img/hummingbird_main_760w.jpg"> 
      <img class="carousel-slide undisplayed" src="/img/edna_760w.jpg">
      <img class="carousel-slide undisplayed" src="/img/sidewalk_flowers_650w.jpg">
      <img class="carousel-slide undisplayed" src="/img/family_750w.jpg">
    </div> 
    <div id="subtitle-container">
      <span id="subtitle">A Book About Bird Revolution</span>
    </div>
  </div>

