<div id="main-container">
    <div id="book-description-container">
      <p id="book-description">
        <em>In a future world, protagonist Mai Nguyen stumbles upon a wanted poster requesting the following:</em>
        <span>Adventurous and philanthropic-types needed for documentation project. Attention to detail and accuracy a must. 
          Time travel ability not required, but experience with said is a bonus. ~ From Charming Plumage</span>
      </p>
    </div> 
    <div id="excerpt-download-container">
      <form>
        <input type="button" value="Download an Excerpt!">
        </form>
    </div>
  </div>
  <div id="excerpt-one-img-container">
    <img src="/img/wanted_450w.jpg">
  </div>
</div>
  <!-- comment -->
